##
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
libtool
ltmain.sh
missing
.deps
*.o
*.a
*.lo
*.la
.libs
*.swp
*.gir
*.typelib
*.gmo
*.make
*~
.intltool-merge-cache
POTFILES
po/*.pot
m4/*
INSTALL
config.guess.cdbs-orig
config.sub.cdbs-orig
debian/autoreconf.after
debian/autoreconf.before
debian/deepin-metacity-common.debhelper.log
debian/deepin-metacity-common.postrm.debhelper
debian/deepin-metacity-common.preinst.debhelper
debian/deepin-metacity-common.substvars
debian/deepin-metacity-common/
debian/deepin-metacity-dbg.debhelper.log
debian/deepin-metacity.debhelper.log
debian/libdeepin-metacity-dev.debhelper.log
debian/libdeepin-metacity-private3.debhelper.log
debian/stamp-autotools
debian/stamp-autotools-files
debian/stamp-copyright-check
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/stamp-upstream-cruft
debian/tmp/
po/stamp-it
stamp-h1
.zcache/
debian/deepin-metacity-dbg.substvars
debian/deepin-metacity-dbg/
debian/deepin-metacity.substvars
debian/deepin-metacity/
debian/files
debian/libdeepin-metacity-dev.substvars
debian/libdeepin-metacity-dev/
debian/libdeepin-metacity-private3.postinst.debhelper
debian/libdeepin-metacity-private3.postrm.debhelper
debian/libdeepin-metacity-private3.substvars
debian/libdeepin-metacity-private3/
