#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/gnome.mk
#include /usr/share/cdbs/1/rules/utils.mk
#include /usr/share/cdbs/1/rules/autoreconf.mk
#include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk
#include /usr/share/gnome-pkg-tools/1/rules/gnome-version.mk
#-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

#DEB_INSTALL_CHANGELOGS_ALL = ./NEWS
#DEB_INSTALL_DOCS_deepin_metacity += doc/theme-format.txt

#LDFLAGS += -Wl,-z,defs -Wl,-O1 -Wl,--as-needed

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_install:
	find debian/tmp -name *.la -delete
	dh_install

override_dh_strip:
	dh_strip --dbg-package=deepin-metacity-dbg
